.typography form{padding: 1em 0; clear:right; width: 100%!important; margin-left: auto; margin-right: auto;}
	.typography fieldset{}
		.typography div.field {}

	.typography label {}
	.typography li label, .typography p label {font-size: 0.8em;}
		.typography label.FormHeading{display: block; color: #808383; font-weight: bold; margin-bottom: 1em;}
		.typography label.left{display: block; }
			.typography .dropdown label.left{padding-bottom: 3px;}
			.typography .optionset label.left, .typography .checkboxset label.left{border: 0;}

	.typography .field{width: 100%; padding-bottom: 0.8em;padding-top: 0.8em; clear: left;}
		.typography .middleColumn, .typography .Actions,.typography input.action, .typography p.ForgotPassword, .typography p.checkbox {display: block;  text-align: left;}
			.typography .middleColumn input, .typography .middleColumn textarea, .typography .middleColumn select{
				border: 1px solid #D3D4B6;
				padding: 0.5em; font-family: Arial, Verdana, sans-serif; margin-top: 0px; width: calc(100% - 1em); color: #808383; font-weight: bold;
				max-width: 450px;
				transition: all 0.5s ease 0s;
				-webkit-transition: all 0.5s ease 0; /* Safari */	
			}
			.typography .middleColumn textarea{margin-top: 0px;}
			.typography .middleColumn ul{margin-left: 0!important; padding-left: 0!important; margin-top: 0px; padding-top: 0px;}
			.typography .middleColumn li{list-style: none!important; margin-top: 0px; padding-top: 0px;}

		.typography .middleColumn .radio, .typography .middleColumn .checkbox,
		.typography .middleColumn .radio:hover, .typography .middleColumn .checkbox:hover,
		.typography .middleColumn .radio:focus, .typography .middleColumn .checkbox:focus{border: 0;}

		.typography .Actions{}

		.typography .message{
			font-weight: bold;
			background-color: #FFCC33;
			display: block;
			padding: 4px;
			text-align: center;
			border-bottom: 1px solid #D3D4B6;
			-webkit-border-bottom-right-radius: 5px;
			border-bottom-right-radius: 5px;
			-moz-border-radius-bottomright: 5px;
			color: #FF336D;
		}
		.typography .middleColumn .message{}

.typography label.required {display: block; color: #298599; font-size: 0.8em;}

/* exceptions */
.typography .radio, .typography .checkbox{width: auto!important;}
.typography .checkbox  label.right {display: block; margin-left: 0px; font-size: 1em; text-align: left; line-height: 1; max-width: calc(450px - 26px);}
.typography .checkbox  input {float: left; margin-top: 0px;}

.typography .confirmedpassword .middleColumn {margin-left: 0px;}
.typography .confirmedpassword .middleColumn a{display: block; }
.typography .confirmedpassword .middleColumn .middleColumn {margin-left: 130px;}

.typography .fieldgroup .middleColumn {margin-left: 0px;}

.typography .field span.message {font-size: 0.8em; margin-top: 7px;display: block;max-width: 458px;}
.typography .field .middleColumn .message {margin-left: 0px;  }
.typography span.bad, .typography span.required {color: #FF336D;}
.typography span.good, .typography span.good {background-color: #298599; color: #fff;}

.typography label.right {display: block; font-size: 0.8em}

/* BUTTON */
.typography .Actions input, .typography input.action  {
	padding-right: 30px;
}
.typography .middleColumn input:focus, .typography .middleColumn textarea:focus, .typography .middleColumn select:focus{
	-webkit-box-shadow: 0px 0px 5px #FFCC33;
	-moz-box-shadow: 0px 0px 5px #FFCC33;
	box-shadow: 0px 0px 5px #FFCC33;
	color: #FF336D;
	outline: none!important;
}

.typography .Actions input.action {margin-left: 0px;}
.typography .Actions input.action:focus {outline: none; color: #FF336D}




/* shadow */
input[type=text], input[type=email], input[type=password], textarea, select {
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;

	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#D3D4B6')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#D3D4B6');
}

input[type=email], input[type="text"], input[type="password"], textarea, select { border: 1px solid; border-color: #888888 #bbbbbb #e0e0e0;background: white;
 -moz-box-shadow:inset 0px 0px 5px #e0e0e0;
 -webkit-box-shadow:inset 0px 0px 5px #e0e0e0;
 box-shadow:inset 0px 0px 5px #e0e0e0;
}

.optionset .middleColumn ul, .checkboxset .middleColumn ul {
	-moz-column-width: 14em;
	-webkit-column-width: 14em;
	column-width: 14em;
}

.readonly .middleColumn span {display: block; border: 1px solid #D3D4B6; padding: 3px; font-family: Arial, Verdana, sans-serif; max-width: 450px;}




.typography .action, .typography .Actions input, .typography input.action
  {
	color: #808383;
	padding: 10px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#cfd4d4
	);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		to(#cfd4d4)
	);
	border-radius: 5px 3px 15px 5px;
	-moz-border-radius: 5px 3px 15px 5px;
	-webkit-border-radius: 5px 3px 15px 5px;
	border: 1px solid #808383;
	text-decoration: none!important;
	padding-right: 17px!important;
	color: #808383;
}
.typography .action:hover, .typography .Actions input:hover, .typography input.action:hover {
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffcc33
	);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		to(#ffcc33)
	);
	border: 1px solid #808383;
	color: #808383;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(355,355,355,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(355,355,355,0.7);
	text-decoration: none;
}



.typography form{}
.typography label { }
.mobileBrowsing .middleColumn {}
.mobileBrowsing .typography .field span.message {}
.mobileBrowsing .typography label.right {}

.mobileBrowsing .typography .middleColumn input,
	.mobileBrowsing .typography .middleColumn textarea,
	.mobileBrowsing .typography .middleColumn select {}
.mobileBrowsing .typography .middleColumn .message {}
.mobileBrowsing .typography .confirmedpassword .middleColumn a {}
.mobileBrowsing .readonly .middleColumn span {}

.mobileBrowsing .typography .middleColumn,
	.mobileBrowsing .typography .Actions,
	.mobileBrowsing .typography input.action,
	.mobileBrowsing .typography p.ForgotPassword,
	.mobileBrowsing .typography p.checkbox {margin-left: 0px!important;}



.optionset li {padding: 0px!important; margin: 0px!important; padding-bottom: 10px!important;}

.optionset li label {
	display: inline;
	width: calc(100% - 42px);
	max-width: 425px;
}

/** hide the input itself **/
.optionset li input,
	.optionset li input[type='radio'],
	.field.checkbox input {
		display: none;
	}

/** create basic outline for label */
.optionset li input + label,
	.optionset li input[type='radio'] + label,
	.field.checkbox input + label {
		background-color: #fafafa;
		border: 1px solid #cfd4d4;
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
		padding: 18px;
		border-radius: 3px;
		display: inline-block;
		position: relative;
		-webkit-appearance: none;
		padding-left: 22px;
	}

/** highlight label when selected **/
.optionset li input:checked + label,
	.optionset li input[type='radio']:checked + label,
	.field.checkbox input:checked + label {
		font-weight: bold;
		border: 1px solid #808383;
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
		color: #808383!important;
	}


/** add active state for checked and unchecked **/
.optionset li input + label:active,
	.optionset li input:checked + label:active ,
	.optionset li input[type='radio'] + label:active,
	.optionset li input[type='radio']:checked + label:active,
	.field.checkbox input + label:active,
	.field.checkbox input:checked + label:active {
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
		border-color: #326874;
	}

/** hover state for label **/
.optionset li:hover input + label,
	.optionset li:hover input[type='radio'] + label,
	.field.checkbox:hover input + label {
	border: 1px solid #808383;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #808383!important;
}

/** standard tickbox **/
.optionset li input + label:after,
	.optionset li input[type='radio'] + label:after,
	.field.checkbox input + label:after{
		content: '\2714';
		font-size: 28px;
		position: absolute;
		top: 4px;
		left: 6px;
		color: #d3d4b6;
		opacity: 0.33;
		filter: alpha(opacity=33);
		font-weight: normal;
	}

/** hover state for tick-box **/
.optionset li:hover input + label:after,
	.optionset li:hover input[type='radio'] + label:after,
	.field.checkbox:hover input + label:after  {
		color: #808383;
		opacity: 0.77;
		filter: alpha(opacity=77);
	}
/** hover state for checked tick-box **/
.optionset li:hover input:checked + label:after,
	.optionset li:hover input[type='radio']:checked + label:after,
	.field.checkbox:hover input:checked + label:after  {
		color: #326874;
		opacity: 0.77;
		filter: alpha(opacity=77);
	}

.optionset li input:checked + label:after,
	.optionset li input[type='radio']:checked + label:after,
	.field.checkbox input:checked + label:after {
		color: #326874;
		opacity: 1;
		filter: alpha(opacity=100);
	}

.optionset li input + label:active:after,
	.optionset li input[type='radio'] + label:active:after,
	.field.checkbox input + label:active:after {
		color: #ff336d;
	}






