#SearchFormInLayout input.action {margin-left: 270px!important; }


#OrderForm_OrderForm .Actions {height: 70px!important;}



#shareThisUL {
    position: absolute;
    right: 12px;
    top: 12px;
}

/**
 * page comments
 */


#PageComments_holder {
margin-top: 40px;
font-size: 0.8em;
}

#PageComments_holder p.comment {
margin: 0px;
padding: 0px;
font-style: italic;
line-height: 0.9;
}

#PageComments_holder p.info {
margin: 0px;
padding: 0px;
font-size: 10px;
font-weight: bold;
}

ul#PageComments>li {
list-style-image: url("/themes/main/images/comment.png");
}

/**
 * close box
 */

#cboxClose {
    border: none!important
}


.pp_description {display: none!important;}
