#Nav {display: none; text-align: center;}
#Nav, #Nav ul, #Nav ul ul {position: fixed; right: 0; width: 100%; text-transform: lowercase; }
#Nav {bottom: 0px; background-color: #808383; z-index: 999; }
	#Nav li {padding: 0.77em 20px; list-style: none; text-align: right;}
	#Nav > li {display: inline-block}
		#Nav li a {font-size: 1.9em;color: #fff; text-decoration: none; display: block;}
			#Nav li a:hover, #Nav li.current a, #Nav li.section a {color: #FFCC33;}
				#Nav li.current li.link a, #Nav li.section  li.link  a {color: #D3D4B6;}
				#Nav li.current li.link a:hover, #Nav li.section  li.link  a:hover {color: #454747;}
	#Nav ul {bottom: 3.9em; background-color: #298599; width: 100%; display: none; position: absolute; padding-top: 7px; left: 0px;}
		#Nav ul li { display: block; float: none; text-align: left; }
			#Nav ul li.first {}
			#Nav ul li a {font-size: 1.2em;color: #D3D4B6; padding: 0.34em 20px;}
				#Nav ul li a:hover, #Nav ul li.current > a, #Nav ul li.section > a {color: #FFCC33;}

	#Nav li .hasCSSHover {display: block;}

.mobileBrowsing #Nav, .mobileBrowsing #Nav ul, .mobileBrowsing #Nav ul ul {
	position: relative!important;
	margin-left: 0px;
	margin-right: 0px;
	width: auto;
	bottom: auto;
	padding: 0px!important;
	border-top-left: 0px;
}
.mobileBrowsing #Nav ul, .mobileBrowsing #Nav ul ul {
	margin: 0px!important;
}
.mobileBrowsing #Nav li, .mobileBrowsing #Nav ul li, .mobileBrowsing #Nav ul ul li{
	float: none;
	width: auto;
	display: block;
}

.mobileBrowsing #Nav ul{display: none;}

.mobileBrowsing #Nav li.section ul, .mobileBrowsing #Nav li.current ul {
	display: block;
	border-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
}

.mobileBrowsing #Nav a{
	display: block;
	padding: 0!important;
}


.mobileBrowsing #Nav{margin-bottom: 30px;}
.mobileBrowsing nav{display: none;}
.hasMenuOverlay nav{display: block!important;}

.menuButton {display: none;}
.mobileBrowsing .menuButton {
	position: fixed;
	top: 30px;
	left: 0px;
	display: block;
	background-image: url(/themes/main/images/menu.png);
	background-repeat: no-repeat;
	height: 45px;
	width: 45px;
	opacity: 0.77;
	filter: alpha(opacity=77); /* For IE8 and earlier */
	text-indent: -99999px;
	z-index: 999;
	margin-top: -23px;
	margin-left: -23px;
}
.mobileBrowsing .menuButton:hover {
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

/* Chrome, Safari, Opera */
@-webkit-keyframes menuButtonAnimation {
    0%   { right:100%; }
    100% {right: 90%; }
}

/* Standard syntax */
@keyframes menuButtonAnimation {
    0%   {right:100%; }
    100% {right: 90%; }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes menuButtonAnimationOut {
    0% {left:99%; }
    100%   { left:0px; }
}

/* Standard syntax */
@keyframes menuButtonAnimationOut {
    0% {left:99%; }
    100%   {left:0px; }
}


.mobileBrowsing.hasMenuOverlay .menuButton {
	/* Chrome, Safari, Opera */
	-webkit-animation-name: menuButtonAnimation;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-delay: 0s;
	/* Standard syntax */
	animation-name: menuButtonAnimation;
	animation-duration: 0.2s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
	right: 90%;
	left: auto!important;
}
.mobileBrowsing .menuButton {
	/* Chrome, Safari, Opera */
	-webkit-animation-name: menuButtonAnimationOut;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-delay: 0s;
	/* Standard syntax */
	animation-name: menuButtonAnimationOut;
	animation-duration: 0.2s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
	left: 0px;
}

