.typography{color:#808383; font-size: 1.4em;}

/* HEADINGS */
.typography h1 {color: #FFCC33; font-size: 1.77em; line-height: 0.85em; text-transform: uppercase;}
	.typography h1#PageTitle, .typography h1.pageTitle{margin-top: 0!important; padding-top: 0!important; }
.typography h2 {color: #FF336D; font-size: 1.33em; }
.typography h3 {font-size: 1em;font-weight: bold; color: #326874}
.typography h4{color: #298599; font-size: 1em;font-size: 1em;}
.typography h5{font-size: 1em; }
.typography h6{font-size: 0.87em; color: #326874; text-decoration: underline;}
.typography h1:first-child,.typography h2:first-child,.typography h3:first-child,.typography h4:first-child,.typography h5:first-child,.typography h6:first-child {margin-top: 0px; padding-top: 0px;}
/* heading combos */
.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {padding: 1em 0 0em 0; font-family: 'Voces' }
	.typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {text-transform: lowercase; }

/* general font-size changes and combos */
.typography p, .typography li, .typography address {font-size: 1em;}
.typography ul {}

/*
	-moz-column-count: 2;
	-moz-column-gap: 2.5em;
	-moz-column-fill: auto;
	-webkit-column-count: 2;
	-webkit-column-gap: 2.5em;
	-webkit-column-fill: auto;
	column-count: 2;
	column-gap: 2.5em;
	column-fill: auto;
	*/

	.typography li p {font-size: 1em; margin-top: 0px; padding-top: 0px;}
	.typography li li {font-size: 0.95em;}
		.typography li li li {font-size: 0.85em;}


/* paragraphs */
.typography p {margin-top: 0.5em; margin-bottom: 0.5em; line-height: 1.9em; text-align: left; }

/* lists */
.typography ul, .typography ol {padding: 0.1em 0 0.3em 2.3em;}
	.typography ul{}
		.typography li { padding: 0.3em 0; list-style-position: outside; list-style-image: url(/themes/main/images/bullet.png); text-align: left;}
	.typography ol{}
		.typography ol li { list-style-image: none; list-style-type:decimal;}
			.typography ol li li { list-style-type:lower-alpha;}
				.typography ol li li li { list-style-type:lower-roman;}
			.typography ul li li { list-style-type:disc ;list-style-image: none; }
				.typography ul li li li { list-style-type:circle;}
					.typography ul li li li li { list-style-type:square;}
	.typography dl{}
		.typography dl dd{}
		.typography dl dt{}

/* special block elements */
.typography blockquote{ padding: 0 30px 0 70px; font-style: italic; background-image: url(/themes/main/images/blockquote_start.png); background-repeat: no-repeat; background-position: 0 0; font-size: 1.3em;}
	.typography blockquote p {font-size: 1em;}
.typography address {font-style: italic; margin-left: 3em; font-family: 'courier new', courier, monospace}
.typography pre {font-family: "courier new", courier, monospace; line-height: 1.7; font-size: 0.7em; padding: 0.7em; margin: 0.3em 0; color: #000;
	background-color: #D3D4B6;
	/* gradient */
	background-position:0px center;
	background-repeat:no-repeat;
	border-top:       10px solid #808383;
-moz-border-radius-topleft: 5px; border-top-left-radius: 5px;
}

/* tables */
.typography table{margin: 1em 0; width: 80%; margin-left: auto; margin-right: auto;}
	.typography th, .typography td {padding: 0.7em; border-left: 1px solid #fff;border-top: 1px solid #fff; background-color: #D3D4B6; font-size: 12px!important;}
		.typography table th[scope='col'] {vertical-align: middle; font-weight: bold; color: #fff; background-color: #326874}
		.typography table th[scope='row'] {text-align: left; vertical-align: top; font-weight: bold;}
		.typography table th a {color: #fff;}
		.typography table td {vertical-align: top;}
			.typography table td p, .typography table td li{margin: 0px; padding: 0px;}
			.typography table td ol, .typography table td ul{margin-top: 0px; padding-top: 0px; margin-left: 0px; padding-left: 0px;}
			.typography td li {font-size: 0.9em; list-style-position: inside; list-style-type: square; list-style-image:none;}
.typography table ul{
	-moz-column-count: 1;
	-moz-column-gap: 0;
	-webkit-column-count: 1;
	-webkit-column-gap: 0;
	column-count: 1;
	column-gap: 0;
}



/* ---- inline elements */
.typography strong, .typography b {font-weight: normal!important; color: #454747}
.typography em{font-style: italic;}
.typography u{}
.typography q {}

/* links */
.typography a{ border-bottom: 1px dotted transparent;  color: #808383; }
	.typography a:link{text-decoration: underline;}
	.typography a:visited{text-decoration: none; }
	.typography a:focus {outline: none;}
	.typography a:hover{text-decoration: none; color: #FF336D;}
	.typography a:active{color: #ff336d;}
	.typography a.externalLink{ background:transparent url(/themes/main/images/externalLink.gif) no-repeat scroll right center; padding-right:13px; display:inline;}

/* images */
.typography img{
	float: right; margin-left: 10px; margin-bottom: 10px; display: block;
	border: 1px solid #808383;
	-moz-box-shadow: 3px 3px 4px #808383;
	-webkit-box-shadow: 3px 3px 4px #808383;
	box-shadow: 3px 3px 4px #808383;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#808383')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#808383');

}
/* images for CMS formatting */
.typography img.left{float: left; margin: 0em 1em 1em 0;}
.typography img.right{float: right; margin: 0em 0 1em 1em;}
.typography img.center{float: none; display: block;margin: 1em auto 1em auto;}
.typography img.leftAlone{float: none; display: block;margin: 1em 0 1em 0; }
.typography .captionImage.left {float: left;margin: 0em 1em 1em 0;}
.typography .captionImage.right {float: right;margin: 0em 0 1em 1em;}
.typography .captionImage img {margin-bottom: 0px; padding-bottom: 0px; }
.typography .captionImage p {margin-top: 0px; padding-top: 0px; font-size: 0.8em; font-style: italic;}
/* misc */
.smallFont{
	font-size: 0.7em;
}

/* colour options*/
#colourTable td {width: 100px!important; height: 100px!important; vertical-align: top;}
.backgroundcolour1 {background-color: #808383!important;}  /* grey */
.backgroundcolour2 {background-color: #FF336D!important;}  /* green */
.backgroundcolour3 {background-color: #FFCC33!important;}  /* yellow */
.backgroundcolour4 {background-color: #D3D4B6!important;}  /* sandy grey */
.backgroundcolour5 {background-color: #298599!important;} /* red */
.backgroundcolour6 {background-color: #326874!important;} /* red */

.fontcolour1 {color: #808383!important;}  /* grey */
.fontcolour2 {color: #FF336D!important;}  /* green */
.fontcolour3 {color: #FFCC33!important;}  /* yellow */
.fontcolour4 {color: #D3D4B6!important;}  /* sandy grey */
.fontcolour5 {color: #298599!important;} /* red */
.fontcolour6 {color: #326874!important;} /* red */


/* WYSIWYG EDITOR ALIGNMENT CLASSES
-------------------------------------------- */
.typography .left {text-align: left;}
.typography .center {text-align: center;}
.typography .right {text-align: right;}

/* IMAGES
-------------------------------------------- */

body.mobileBrowsing .typography img {max-width: 100%!important; padding-left: 0px; padding-right: 0px; margin-right: 0px; margin-left: 0px;}


body.mobileBrowsing .typography p, body.mobileBrowsing .typography li, body.mobileBrowsing .typography address {font-size: 1em;}
body.mobileBrowsing .typography ul {
	-moz-column-count: 1;
	-moz-column-gap: 0;
	-webkit-column-count: 1;
	-webkit-column-gap: 0;
	column-count: 1;
	column-gap: 0;
}
